<div class="container top-container">
  <div class="row">
    <div id="loggedInUserEmail" name="{{loggedInUserEmail}}" class="container">

      {{#unless users}}
      <h1 class="center top-container">You have no matches yet.</h1>
      <div class="txt-align-center">
        <a href="/swipe" class="btn btn-lg btn-success">Find Matches</a>
      </div>
      {{/unless}} {{#if users}} {{#each users}}
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <video class="video-pro" src="{{this.profile_video}}"></video>
          <div class="card-block txt-align-center">
            <div class="inn-cont-card">
              <h4 class="card-title pull-left">Name: {{this.firstname}}</h4>
              <h4 class="card-title pull-right">Age: {{this.age}}</h4>
            </div>
            <div class="txt-align-center">
              <a href="#" class="btn btn-success view-chat-btn">view profile</a>
            </div>
            <div class="txt-align-center">
              <a href="#" id="{{this.email}}" class="btn btn-success view-chat-btn">chat</a>
            </div>
          </div>
        </div>
      </div>

      {{/each}} {{/if}}
    </div>
  </div>
</div>
</div>